{% extends 'base.html' %}

{% block head %}
<style>
  /* Add this style block to define the hover effect */
  .clear-matches-link {
      color: rgb(246, 134, 134);
      transition: color 0.3s ease; /* Add a smooth transition effect */
  }

  .clear-matches-link:hover {
      color: blue;
  }
</style>
{% endblock %}

{% block body %}

<div class="content" style="margin-left: 300px;">
  {% if tournament %}
  <h1>Schedule for {{ tournament.tournament_name }} Generated</h1>
  {% else %}
  <p>No tournament data available.</p>
  {% endif %}
</div>
<div class="content" style="margin-left: 500px;">
  <a class="clear-matches-link" href="{{ url_for('clear_matches', tournament_id=tournament.id) }}">Clear Table before the next schedule</a>
</div><br/><br/>
<div class="content" style="margin-left: 200px;">
  <table style="width:800px">
    <tr>
      <th>Date</th>
      <th>Round</th>
      <th>First Team</th>
      <th>VS</th>
      <th>Second Team</th>
      <th>Winner Status</th>
    </tr> 
    {% for match in schedule %}   
    <tr>
      <td>Date: {{ match.match_date.strftime('%Y-%m-%d') if match.match_date else 'Not determined yet' }}</td>
      <td>Round {{ match.round_number }}</td>
      <td>Team 1: {{ teams[match.team1_id - 1].team_name if match.team1_id and match.team1_id <= teams|length else 'N/A' }}</td>
      <td>vs</td>
      <td>Team 2: {{ teams[match.team2_id - 1].team_name if match.team2_id and match.team2_id <= teams|length else 'N/A' }}</td>
      <td>Winner: {{ 'Winner ' ~ match.id if match.winner_id and match.winner_id <= teams|length else 'Not determined yet' }}</td>
    </tr>
    {% endfor %}
  
  </table>
</div>

<div class="content" style="margin-left: 500px;">
  <a href="{{ url_for('index') }}">Go back to home</a>
</div>
 
{% endblock %}
